include pyproject.toml
include README.md
include CHANGELOG.md
include LICENSE
include requirements.txt

recursive-include codesuture *.py
recursive-include assets *.png

# Exclude dev-only files from pip sdist
prune stress
prune .codesuture_store
prune .codesuture_incidents
prune .codesuture_alerts
exclude .gitignore
exclude ROADMAP.md
exclude *.debug.py
exclude *.zip
